<div 
    class="container"
    [ngClass]="{ 
        'search-not-allowed': !sectionConfigData.isSearchAllowed, 
        'container-disabled': sectionConfigData.isDisabled, 
        'container-read-only': sectionConfigData.isReadonly, 
        'section-invalid' : (externalValidation === false || invalidState === true) || (dropdownFormControl && dropdownFormControl.touched && dropdownFormControl.dirty) && ((sectionConfigData.maxSelectCount && chipData.length > sectionConfigData.maxSelectCount) || (sectionConfigData.minSelectCount && chipData.length < sectionConfigData.minSelectCount))
    }"
    >

    <div 
        class="wrapper"
        [ngbPopover]="popContent"
        [placement]="'auto'" 
        [autoClose]="'outside'" 
        (hidden)="dropdownCloseTrigger()"
        (shown)="dropdownOpenTrigger()"
        [container]="'body'"    
        tabindex="0"
        #topContainer
        #popoverInstance="ngbPopover"    
        >
        <div *ngIf="chipData.length > 0" class="selection-container">
    
            <app-custom-chips 
                [chipData]="chipData"
                (onChipRemove)="chipRemovalTrigger($event)"
                (focusSearch)="searchBoxFocusTrigger()"
                (onChipClick)="onChipClick.emit($event)"
                (onChipContextMenu)="onChipContextMenu.emit($event)"
                #chipsContainer>
            </app-custom-chips>
    
        </div>
    
        <input
            *ngIf="(!sectionConfigData.isSearchAllowed && chipData.length === 0) || (sectionConfigData.isSearchAllowed && chipData.length === 0) || (sectionConfigData.isSearchAllowed && chipData.length > 0 && popoverInstance.isOpen())"
            class="title-query" 
            type="text"
            [ngClass]="{ 'search-not-allowed': !sectionConfigData.isSearchAllowed || globalLoading }"
            [placeholder]="sectionConfigData.placeholderKey"
            [readonly]="(!sectionConfigData.isSearchAllowed || globalLoading)? 'readonly' : null"
            (input)="queryTrigger($any($event.target).value)"
            (keydown)="addCustomChip($event)"
            (beforeinput)="activateLastChip($event)"
            (click)="searchBoxFocusTrigger()"
            #queryBox>
    </div>

</div>

<div *ngIf="(externalValidation === false || invalidState === true) && sectionConfigData.isDisabled && (sectionConfigData.invalidMessageKey && sectionConfigData.invalidMessageKey !== null && sectionConfigData.invalidMessageKey !== '')">
    
    <span class="error-msg">
        <i class="fa fa-warning"></i>
        {{ sectionConfigData.invalidMessageKey }}
    </span>

</div>

<ng-template #popContent>
    <div class="list-container" [ngStyle]="{ 'width': computedWidth, 'max-width': computedWidth }">
    
        <ul *ngIf="!isLoading && !globalLoading && (primaryData) || (multiObjectDataForQuery)">
    
            <ng-container *ngIf="queryState === false">
    
                <div 
                    class="action-button-container"
                    >
                    <div class="buttons-container">
                        <button *ngIf="sectionConfigData.isSelectAllAvailable && !sectionConfigData.isSingularInput && !sectionConfigData.isReadonly" (click)="selectAllOptions()">
                            <span *ngIf="!isAllSelected && !sectionConfigData.isSingularInput">{{ 'select-all' }}</span>
                            <span *ngIf="isAllSelected">{{ 'unselect-all' }}</span>
                        </button>
                    </div>
                    <div class="buttons-container">
                        <button *ngIf="sectionConfigData.isResetOptionVisible && !sectionConfigData.isReadonly" (click)="selectAllOptions(true)" >
                            {{ 'reset' }}
                        </button>
                    </div>
                </div>
            
            </ng-container>
    
            <ng-container *ngIf="!queryState">
    
                <li *ngFor="let s of primaryData; let sectionindex = index">
        
                    <ng-container *ngIf="s.config.isSectionTitleVisible">

                        <div *ngIf="s.root.dataVisibleNameValue" class="section-details-container">
        
                            <input
                                *ngIf="s.config.isSectionSelectionAllowed === true"
                                type="checkbox" 
                                (change)="optionSelectionTrigger($any($event.target).checked, s.root, s)"
                                [id]="s.root.dataUniqueFieldValue">
                
                            <label 
                                class=""
                                [for]="s.root.dataUniqueFieldValue" 
                                [title]="s.root.dataTooltipValue || s.root.dataVisibleNameValue">
    
                                {{ s.root.dataVisibleNameValue }}
    
                            </label>
            
                        </div>
                        
                    </ng-container>
                    
                    <ul>
                        <ng-container [ngTemplateOutlet]="dropdownTree" [ngTemplateOutletContext]="{ 
                                $implicit: s.root.children,
                                levelIndex: s.root.levelIndex + 1,
                                sectionData: s
                            }">
                        </ng-container>
                    </ul>
    
                </li>
    
            </ng-container>
    
            <ng-container *ngIf="queryState">
    
                <ng-container *ngIf="multiObjectDataForQuery">
    
                    <ng-container *ngIf="searchLoading">

                        <div class="dropdown-loading">
                            {{ 'loading more results...' }}
                        </div>

                    </ng-container>

                    <li *ngFor="let s of multiObjectDataForQuery; let sectionindex = index">

                        <ul>
                            <ng-container [ngTemplateOutlet]="dropdownTree" [ngTemplateOutletContext]="{ 
                                    $implicit: s.root.children,
                                    levelIndex: 1,
                                    sectionData: s
                                }">
                            </ng-container>
                        </ul>
        
                    </li>
    
                </ng-container>
    
            </ng-container>
    
    
        </ul>
    
        <ng-container *ngIf="!isLoading && !globalLoading && !searchLoading && (!primaryData) && (!multiObjectDataForQuery)">
            <div class="no-data-text">
                {{ sectionConfigData.noDataMessageKey }}oihoioi
            </div>
        </ng-container>
    
        <ng-container *ngIf="isLoading || globalLoading">
            <div class="dropdown-loading">
                {{ 'loading' }}
            </div>
        </ng-container>
    
    </div>
</ng-template>


<ng-template #dropdownTree let-data let-levelIndex="levelIndex" let-sectionData="sectionData">


    <ng-container *ngIf="!isLoading && !globalLoading && !searchLoading && (!data || data.length === 0)">
        <div class="no-data-text">
            {{ sectionConfigData.noDataMessageKey }}
        </div>
    </ng-container>
    
    <ul [ngStyle]="{ 'margin-left': levelIndex > 1 ? '24px' : '0', 'width': levelIndex > 1 ? 'calc(100% -  24px )' : '100%' }" class="ul-template">

        <li 
            [ngStyle]="{ 'border-left': levelIndex === 1 ? 'none' : '' }"
            *ngFor="let op of data; let optionIndex = index">

            <div class="dropdown-section">

                <div class="checkbox-container">
                    <input 
                        type="checkbox" 
                        [disabled]="op.isDisabled"
                        [checked]="op.isSelected"
                        [indeterminate]="op.isPartiallySelected && !op.isSelected"
                        [id]="op.dataUniqueFieldValue"
                        (change)="optionSelectionTrigger($any($event.target).checked, op, sectionData)">
                </div>
    
                <div 
                    *ngIf="(sectionConfigData.isMultipleLevel === true) && (queryState === false)"
                    class="icon-container" 
                    [ngClass]=" { 'expandable' : op.dataExpandableValue === true }"
                    [title]="'expand'" 
                    (click)="expandTrigger(op, sectionData)">
                    <ng-container *ngIf="op.dataExpandableValue === true">
                        <i *ngIf="op.isChildernLoading === false && op.isExpanded === false" class="fa fa-chevron-right"></i>
                        <i *ngIf="op.isChildernLoading === false && op.isExpanded === true" class="fa fa-chevron-down"></i>
                        <i *ngIf="op.isChildernLoading === true" class="fa fa-spin fa-spinner fa-spin-pulse"></i>
                    </ng-container>
                </div>
    
                <div class="icon-container" [title]="'favorite'">
    
                    <i *ngIf="op.dataFavouriteValue === true" class="fa fa-star"></i>
    
                </div>
    
                <div 
                    class="title-container" 
                    [ngClass]="{ 'disabled-label': op.isDisabled }"
                >
                    <label [for]="op.dataUniqueFieldValue" [title]="op.dataTooltipValue">
                        {{ op.dataVisibleNameValue }}
                    </label>
                </div>

            </div>

            <ng-container *ngIf="op.isExpanded === true && op.isChildernLoading === false"
                [ngTemplateOutlet]="dropdownTree" [ngTemplateOutletContext]="{ 
                            $implicit: op.children,
                            levelIndex: (levelIndex + 1),
                            sectionData: sectionData
                        }">
            </ng-container>

        </li>


    </ul>


</ng-template>