<ul (click)="sectionClicked($event)" #chipsContainer>

    <ng-container *ngFor="let c of chipData; let i = index">

        <li 
            *ngIf="c.dataVisibleNameValue && c.dataVisibleNameValue !== ''"
            class="chip-container"
            [ngClass]="{ 'active-chip': c.isCurrentNodeActive, 'chip-invalid': c.isInvalid}"
            (click)="activateChip(c)"
            (contextmenu)="openContextMenu($event, c)"
            #chip>
        
            <div *ngIf="c.isFavourite" class="left-section" [title]="'favourite'">
                <i class="fa fa-star"></i>
            </div>
        
            <div class="main-section" [title]="c.dataTooltipValue ? c.dataTooltipValue : c.dataVisibleNameValue">
                {{ c.dataVisibleNameValue }}
            </div>
        
            <div 
                *ngIf="!(c.isReadOnly || c.isDisabled)"
                [title]="'remove'"
                class="right-section" 
                (click)="removeChip(c); $event.stopPropagation()" 
                >
                <i class="fa fa-close"></i>
            </div>
        
        </li>

    </ng-container>

</ul>
