<br>
<button (click)="isVisible = !isVisible">close</button>
<br>
<div *ngIf="isVisible">
    <app-multi-object-select 
        [primaryData]="dataToPass"
        [globalLoading]="loading"
        [sectionConfigData]="sectionDataToPass"
        [preSelectedChips]="preSelectedChips"
        [isRequired]="true"
        [isDisabled]="projectValidationXHR"
        [minSelectCount]="1"
        [maxSelectCount]="23"
        [isSingularInput]="false"
        [readOnlyChips]="false"
        [isCustomInputAllowed]="false"
        [isSearchAllowed]="true"
        [isAsynchronousSearch]="true"
        [isClientSideSearchAllowed]="true"
        [isResetOptionVisible]="true"
        [isSelectAllAvailable]="true"
        [placeholderKey]="'add users'"
        [noDataMessageKey]="'no-data-available'"
        [isMultipleLevel]="true"
        [isAsynchronouslyExpandable]="true"
        [isHierarchySelectionModificationAllowed]="true"
        [isCustomAllSelectOption]="false"
        [customAllSelectOptionUniqueId]="'-1'"
        [customAllSelectOptionNameKey]="'all-options'"
        [invalidMessage]="customInvalidMessageKey"
        [externalValidation]="isSelectionValid"
    
        (errorMessage)="errorOccured($event)"
        (selectionChange)="finalDataReceived($event)"
        (dataRequester)="loadChildren($event)"
        (onChipAdd)="onChipAdd($event)"
        (onChipRemove)="onChipRemove($event)"
        (onChipClick)="onChipClick($event)"
        (onQuerySeach)="searchValue($event)"
        (onReset)="onReset($event)"
        (onSelectAll)="onSelectAll($event)"
        (initialLoad)="makeAPICall()"
        (onChipContextMenu)="onChipContextMenu($event)"
        
        #myDropdown
        >
    </app-multi-object-select>
</div>

<!-- <app-sample-popover></app-sample-popover> -->