<app-multi-object-select 
    [data]="dataToPass"
    [globalLoading]="loading"
    [preSelectedChips]="preSelectedChips"
    [isRequired]="true"
    [isDisabled]="false"
    [minSelectCount]="1"
    [maxSelectCount]="10"
    [isSingularInput]="false"
    [readOnlyChips]="false"
    [isCustomInputAllowed]="true"
    [isSearchAllowed]="true"
    [isAsynchronousSearch]="true"
    [isResetOptionVisible]="true"
    [isSelectAllAvailable]="true"
    [placeholderKey]="'add users'"
    [noDataMessageKey]="'no-data-available'"
    [isMultipleLevel]="true"
    [isAsynchronouslyExpandable]="true"
    [dataTypeId]="1"
    [isLoading]="true"
    [isCustomAllSelectOption]="false"
    [customAllSelectOptionUniqueId]="'-1'"
    [customAllSelectOptionNameKey]="'all-options'"
    [sectionConfigurationObject]="sectionDataToPass"

    (dataRequester)="loadChildren($event)"
    (onChipAdd)="onChipAdd($event)"
    (onChipRemove)="onChipRemove($event)"
    (onChipClick)="onChipClick($event)"
    (onQuerySeach)="searchValue($event)"
    (onReset)="onReset($event)"
    (onSelectAll)="onSelectAll($event)"
    
    >
</app-multi-object-select>