<ng-template #popContent>Hello, <b>{{'name'}}</b>!
	<div class="popup-text">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, culpa velit? Explicabo eaque dolore corporis
		cupiditate itaque illum est at tenetur? Quasi vitae fugiat repellendus fuga aspernatur eos nobis ut!
		<br>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tempore pariatur voluptate hic aspernatur eum,
		recusandae, delectus architecto aliquam dolorum voluptatibus velit vero, reiciendis nemo voluptatum? Deleniti,
		odit? Natus, mollitia.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto eligendi, fugit tenetur inventore
		officia magnam laudantium sunt, iusto accusantium consequatur minima perspiciatis! Cum placeat unde quo vel
		voluptatibus sint?
		Nam fugit provident quod excepturi obcaecati unde dolorem ex praesentium accusamus tempora, rem officiis.
		Accusantium, eius, quasi praesentium eveniet omnis perferendis sunt molestiae et hic, porro illum rem laborum
		error.
		Ipsa praesentium at inventore iusto rem fugiat molestias quis sapiente voluptatem, sed quas, odit molestiae quae
		velit natus voluptatum autem. Possimus voluptatibus veritatis sequi nulla officia magnam perspiciatis ipsam
		assumenda!
		Mollitia atque perspiciatis nesciunt libero vel earum maxime facere ratione voluptates, sit, harum molestias
		eaque aut consectetur dignissimos dolorum magnam magni? Error voluptas voluptatem unde dicta, possimus nemo
		inventore omnis?
		Quibusdam nesciunt quisquam officiis tempore laudantium, illum exercitationem molestias nobis adipisci mollitia
		ea excepturi obcaecati dicta voluptatem alias molestiae minima, asperiores hic necessitatibus quod quis?
		Asperiores nulla magnam obcaecati a.
		Minus ducimus, porro placeat cum iste odio animi recusandae repudiandae eius eum laboriosam deleniti doloremque
		rem non. Quasi voluptatibus dolores unde modi similique, aliquam nobis a consequuntur provident odio fugiat?
		Atque architecto ut officiis voluptate, labore nam debitis tenetur quos, suscipit iusto distinctio asperiores.
		Minus recusandae adipisci similique eum placeat facere dolore exercitationem eveniet aut molestias nostrum,
		dicta perspiciatis vero?
		Corrupti, ab? Fugiat doloremque odio architecto nam nesciunt minus necessitatibus, ipsum eveniet vero ea beatae
		ducimus repellat hic alias est natus eius ad perspiciatis, quidem debitis quasi accusamus. Fuga, nostrum!
		Asperiores nam iure aspernatur optio voluptatum, quo aliquam sed quasi earum quis facilis sequi consectetur
		voluptates. Sit distinctio assumenda quam deserunt odio sequi perspiciatis soluta eveniet, nulla rerum sunt
		nostrum!
		A sunt qui praesentium ut accusantium placeat perferendis architecto labore repellendus, ex corporis dolores
		nulla vero ea id inventore animi, adipisci expedita consequatur aut minima saepe eveniet maiores! Eligendi,
		quisquam!
		Deleniti veniam excepturi voluptas iste possimus necessitatibus dicta voluptatum praesentium, magnam fugiat
		ipsum nostrum? Possimus quas aliquam in ullam eligendi, at perspiciatis voluptates voluptas explicabo mollitia,
		veritatis fuga, praesentium aut!
		Fugiat adipisci, dignissimos soluta quia libero blanditiis, nam nisi nihil accusamus incidunt aperiam? Odio
		alias ut quo, dolore voluptate architecto! Magnam suscipit eaque culpa distinctio ipsa odit rem, harum corrupti?
		Temporibus similique iste esse, vel, incidunt libero, ratione magnam inventore excepturi in repellendus placeat
		est laborum itaque accusamus a veniam provident. Accusamus eveniet excepturi dolor earum molestias provident,
		rerum eum?
		Maiores nisi porro quos error quis sequi alias adipisci esse pariatur itaque dolores repudiandae unde vitae
		repellat, numquam ipsum! Quo ipsam provident cum totam. Nesciunt, laboriosam. Libero illo quasi molestiae?
		Exercitationem eveniet repellat, quas quod eum maiores natus. Nostrum vel, veniam voluptates ipsa cumque totam
		quod libero esse ab iure! Eius quia qui odio et tempore at culpa eum dolore.
		Ipsum praesentium dolorum officiis exercitationem quos recusandae consectetur ad odit fuga corrupti? Deleniti
		dignissimos sunt eaque? Dolorum, enim commodi. Velit quasi inventore, maiores quia id doloribus aliquam
		reprehenderit voluptatibus officiis!
		Sapiente dicta doloremque, obcaecati totam blanditiis maxime error eaque vero accusantium aspernatur assumenda
		sunt, modi fugit officiis sed, eligendi deserunt minima? Quod, hic officia quidem inventore iusto sint obcaecati
		sed?
		Aut ipsam mollitia dignissimos soluta expedita laudantium sed voluptatem voluptas quaerat fuga quam quod hic
		corrupti tempore ullam possimus asperiores est praesentium, fugiat facilis quo corporis reprehenderit.
		Reprehenderit, illo aspernatur!
		Sunt nostrum officia excepturi voluptate, inventore maxime quo magnam ea non delectus quod aut laborum maiores,
		labore vel. Veniam laborum excepturi nostrum sequi debitis soluta tenetur accusantium expedita optio fugit?
		Sunt velit, odio aliquam delectus placeat animi rem praesentium facilis at nesciunt voluptas dolor? Dolorum
		earum illo maxime quasi, modi libero possimus quae placeat, vero assumenda repudiandae sapiente, inventore
		voluptatem.
		Nihil nostrum cum laborum, dolorem quibusdam inventore quam doloribus dolorum odit mollitia eius, quo ducimus
		magni aspernatur illum consequatur corporis adipisci! Aliquid voluptatum nam ullam vitae amet numquam ducimus
		vero?
		Minima quis aspernatur quibusdam, reprehenderit ipsa earum porro! Ex dolorem voluptas enim quidem cum, alias
		ducimus voluptates repellat, asperiores maiores sunt iste similique odio laudantium deleniti quos adipisci iusto
		distinctio!
		Vel earum, sequi quos fuga optio omnis inventore laborum a eius maxime blanditiis assumenda dignissimos
		distinctio sed. Quam inventore facere assumenda totam explicabo laborum illo, laudantium illum temporibus nisi
		quos!
		Suscipit similique vero qui, ullam maxime animi possimus unde, at voluptatum eos sint? Molestias, animi. Dolore
		nulla, magni omnis magnam illum eum, saepe, consequatur voluptas quos delectus quam odio provident.
		Omnis dolor dolores consequuntur id debitis soluta iste alias aliquid, tempora nisi qui necessitatibus
		voluptatum illo laboriosam optio cumque obcaecati quos facilis repudiandae temporibus. Quae sapiente numquam
		dolores nobis dolorum.
		Cum quod consequatur, iste alias placeat, quas repellat, maxime fuga nam ipsa ipsum saepe commodi tempora ex
		molestias asperiores consectetur! Deserunt provident voluptates nam cupiditate similique iusto magnam maxime
		vel?
		Laudantium, alias reprehenderit molestias laboriosam voluptatum, veritatis delectus numquam saepe at rerum quia
		a placeat nulla autem magni nemo voluptatem quas doloremque explicabo molestiae eveniet, ab totam tenetur vel?
		Fuga.
		Pariatur laboriosam impedit rerum eos libero tempore commodi, nam doloremque qui, obcaecati exercitationem eaque
		voluptatem doloribus velit explicabo nesciunt provident quis cupiditate. Beatae quod repellendus neque error
		illum culpa praesentium!
		Dolorem molestias provident dignissimos expedita a facilis reprehenderit ut! Distinctio est temporibus, ipsum
		accusamus excepturi repellendus dolor ex veniam dolorem, et maiores sapiente ratione commodi quaerat, neque
		officia dolores sunt.
		Ut voluptatem, debitis earum nihil sunt aut rerum autem quo laborum distinctio nulla perspiciatis ullam vitae
		esse eaque harum quas temporibus dolorum excepturi provident doloremque. Quisquam iusto quasi illo alias!
		Amet dignissimos harum ex esse obcaecati commodi ipsa et omnis dicta nesciunt reprehenderit, assumenda at sit
		vero! Eius, quis id? Quis exercitationem veniam dolorem quaerat reprehenderit magni iure culpa voluptate?
		Libero cupiditate, exercitationem dicta dolor recusandae adipisci quaerat provident quam nostrum, expedita,
		placeat iste incidunt fugit omnis ad natus! Modi optio incidunt aut. Nostrum iure, nemo molestias ullam officiis
		architecto!
		Rerum recusandae quaerat molestiae nam reiciendis, commodi quam, ducimus sapiente fugiat pariatur quidem non
		porro voluptatem cumque velit! Quasi voluptatibus sint consectetur in minima pariatur sit quam delectus. Id,
		accusamus.
		Accusantium voluptate adipisci cumque soluta dolorum odio. Rem officiis eos culpa nam eveniet omnis iusto
		numquam suscipit fugit. Nemo, perspiciatis fuga accusamus blanditiis corrupti aspernatur quisquam eligendi dolor
		nihil rerum.
		Minima, reiciendis voluptatibus odio unde praesentium natus adipisci veritatis repellat? Odio tempore illo
		possimus dolorum ab aspernatur, qui voluptate necessitatibus libero quae quidem nesciunt, porro maiores maxime
		consectetur ipsa eum?
		Non, quidem. Quibusdam deleniti velit maxime quasi. Accusantium odit animi dolorum accusamus ullam, laudantium
		deleniti mollitia nemo corrupti quo illo, iure magni ipsum laboriosam voluptatum soluta dolores? Laborum, earum
		officia!
		Voluptatibus culpa assumenda rem libero eaque? Laboriosam, dolor corrupti sequi commodi nam facere, magnam
		quaerat inventore perspiciatis provident perferendis sed harum. Quasi mollitia voluptates, dolores voluptate
		esse repudiandae praesentium quia.
		Libero voluptatum perferendis ullam tempore, culpa deserunt consequuntur a voluptatibus unde, voluptates iste
		corporis cupiditate sapiente obcaecati! Aspernatur, at vero! Consequuntur vel culpa repellendus nam facilis
		veritatis nihil iure totam?
		Eligendi quaerat, pariatur a eius similique fugit. Dolorem adipisci neque pariatur ad laudantium inventore
		corporis libero ipsa assumenda, consectetur non, esse accusamus, eos reiciendis optio atque quos culpa illum
		magni!
		Eveniet dolorum adipisci nihil repudiandae doloribus neque voluptates laborum. Asperiores atque, laudantium
		illum maiores consectetur, cumque voluptatum eligendi vel doloremque, a voluptas. Optio quo debitis, quaerat
		veniam mollitia ab magni.
		Commodi explicabo ex modi distinctio tempora! Aliquam accusantium ipsum placeat excepturi ullam dicta explicabo
		officia magni corrupti dolorem! Architecto magni dolorum minus neque facilis nemo voluptatem quos doloribus
		tempora omnis!
		Beatae accusamus numquam possimus unde nemo expedita a sit minima perspiciatis ea error debitis, fuga officiis
		est dolore sequi consequuntur iure ex! Aspernatur dolorum id, fugit blanditiis magni minima laborum?
		Qui officiis pariatur sint. Similique eligendi quas, doloribus unde perferendis impedit accusantium quisquam
		fugit ad consectetur consequatur sunt at expedita ex vel dolor minus voluptatibus officiis nemo repellat
		provident aliquid.
		Fugiat sapiente consequatur ducimus necessitatibus fugit, quo atque ab iste! Magni eum iste sequi inventore
		voluptatem odio aut quam, aperiam ex officia veritatis minus facere optio accusamus recusandae placeat deserunt.
		Assumenda libero dicta laborum optio repellendus dolore repellat vitae molestiae minima voluptatem, quasi quidem
		debitis tenetur hic expedita praesentium, sapiente magni natus atque, nobis id exercitationem! Incidunt odio id
		quo!
		Magni non eum minima natus, ex nulla doloremque libero veritatis beatae. Tempora, culpa similique voluptates
		optio, ea tempore repudiandae eaque consequuntur quis, quos quia aliquam quisquam commodi magnam sunt. Dolor!
		Dignissimos nesciunt, reiciendis provident fugit minus nostrum nulla. Quos velit in, nemo perspiciatis modi
		delectus optio, odit natus doloribus fuga voluptas porro deleniti esse, quisquam corrupti quibusdam dolorum
		veritatis harum.
		Harum voluptatum est dolorum mollitia distinctio consequatur fugiat labore vero aperiam eius, magnam obcaecati
		assumenda eveniet fuga nulla, laboriosam, eos quae. Aliquam officia soluta et voluptas, harum repudiandae
		officiis doloremque?
		Nemo exercitationem nobis sunt iure explicabo facere vel, commodi assumenda. Tempore, explicabo sequi? Minima
		aut accusantium dolore magnam soluta veniam sequi similique est, consectetur eveniet voluptate, sit quos
		blanditiis quod.
		Quia recusandae nemo culpa veritatis, eaque sit quis odit unde consequatur. Quam impedit soluta possimus quidem
		facilis illo laudantium. Cumque corporis ut dicta expedita perferendis voluptates tempora tenetur? Quae,
		necessitatibus?
	</div>
</ng-template>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="btn btn-secondary" 
	[ngbPopover]="popContent"
	[placement]="['bottom-left', 'bottom-right', 'top-left', 'top-right']" 
	[autoClose]="'outside'" 
	[container]="'body'"
	>
	asdfff
</div>