<ul (click)="sectionClicked($event)" #chipsContainer>

    <ng-container *ngFor="let chip of chipData; let i = index">

        <li 
            class="chip-container"
            [ngClass]="{ 'active-chip': chip.isActive}"
            (click)="activateChip(chip)"
            (contextmenu)="openContextMenu($event, chip)"
            #chip>
        
            <div *ngIf="chip.isFavourite" class="left-section" [title]="'favorite'">
                <i class="fa fa-star"></i>
            </div>
        
            <div class="main-section">
                {{ chip.dataVisibleNameValue }}
            </div>
        
            <div class="right-section" (click)="removeChip(chip)" *ngIf="chip.canDelete">
                <i class="fa fa-close"></i>
            </div>
        
        </li>

    </ng-container>


</ul>
